@charset "UTF-8";
/* CSS Document */
body {
	background-color: #2d303a;
	margin: 0;
}




.header {
	Background-color: #171717;
	height: 85px;
	color: #ab8a66;
}

.nav {
	width: 950px;
	margin-left: auto;
	margin-right: auto;	
}

.links {
	float: right; 
	font-family: "moon", sans-serif;
	margin-top: 32px;
	font-size: 1.1em;
	display: block;
	align-content: right;
}

.links a {
	text-decoration: none;
	color: #ab8a66;
	padding-left: 15px;
	padding-right: 15px;
	
}

.links: hover {
	background-color: red;
}

.dash {
	color: #3c3c3c;
	padding-right: 15px;
	padding-left: 40px;
}

.pbmlogo {
	padding-left: 50px;
	margin-top: 7.5px;
	float: left;
}

.photo {
	max-height: 100%;
	max-width: 100%;
	display: block;
	margin: auto;
	align-content: center;
}

.about {
	font-family: "moon", san-serif;
	color: #ab8a66;
	text-align: center;
	text-decoration: underline;
	font-size: 1.2
	
}

.about_intro {
	text-align: left;
	max-width: 700px;
	float: right;
	padding-right: 100px;
	padding-top: 30px;
	font-family: "butler", sans-serif;
	color: #c9c9c9;
	font-size: 1.5em;

	
	
	 -webkit-column-count: 2; 
    -moz-column-count: 2; 
    column-count: 2;

    -webkit-column-gap: 50px; 
    -moz-column-gap: 50px; 
    column-gap: 50px;

    -webkit-column-rule: 2px outset white;
    -moz-column-rule: 2px outset white; 
    column-rule: 2px outset white;
	
	-webkit-column-width: 100px; 
    -moz-column-width: 100px; 
    column-width: 100px;
}

.patrick {
	font-family: "moon", sans-serif;
	float: left;
	color: #ab8a66;
	padding-left: 200px;
	font-size: 2EM;
	max-width: 100px;
	padding-top: 60px;
}




/* font-family: "butler", sans-serif; 
	color: #c9c9c9;
	 -webkit-column-count: 2;
	font-size: 1.5em;
	 
	 -webkit-column-rule-width: 1px;
	 -webkit-column-rule-style: outset; 
	 -webkit-column-rule-color: white;
	  -webkit-column-width: 50px; 
    -moz-column-width: 50px;  
    column-width: 50px;
*/












